*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(237, 237, 237);
}
header{
    background-color: white;
}
#logoweb{
    width: 100%;
    height: 100px;
    padding-top: 25px;
}
h1{
    vertical-align: middle;
}
img{
    vertical-align: middle;
}
div figure,
div h1
{
    display: inline;
}
main{
    background-color: white;
    width: 80%;
    margin: 40px auto;
    padding-bottom: 20px;
}
nav{
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
button{
    padding: 6px;
}
#blueb{
    background-color: rgb(2, 82, 212);
    color: white;
    border: 1px solid rgb(2, 82, 212);
}
#whiteb{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}
.check{
    width: 16px;
    height: 16px;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 12px;
    color: green;
    text-align: center;
    margin-right: 2px;
    display: inline-block;
}
.cross{
    width: 16px;
    height: 16px;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 12px;
    color: red;
    text-align: center;
    margin-right: 2px;
    display: inline-block;
}
.round{
    border-radius: 6px;
}
.edi{
    background-color: rgb(0, 129, 227);
}
.goa{
    background-color: rgb(155, 53, 219);
}
.rec{
    background-color: rgb(91, 168, 119);
}
.mob{
    background-color: rgb(255, 140, 0);
}
.web{
    background-color: rgb(255, 122, 171);
}
.sal{
    background-color: rgb(172, 232, 132);
}
div span:last-child{
    padding: 4px;
}
div{
    margin: 15px;
}
section{
    margin: 30px;
}
div span:last-child{
    color: white;
}